# Exploratory Data Analysis
### Muf Tayebaly

In [1]:
#imports
import pandas as pd
import numpy as np
import pickle as pk
import string
import nltk
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk import word_tokenize, pos_tag
from nltk.stem import WordNetLemmatizer
import string
import re
from random import randint
from collections import defaultdict

In [18]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /Users/Muf/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/Muf/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to /Users/Muf/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
#load data from pickle
corpus_data = pd.read_pickle('Data/muf_articles_corpus.pkl')
corpus_data.shape

(1914, 32)

In [3]:
corpus_data.describe()

,content_id,label,economy,topic2,science,mention_Trump,mention_Clinton,mention_Democrat,mention_Republican,mention_GOP,...,mention_border,mention_terrorist,mention_attack,mention_NRA,mention_sanctuary,mention_socialist,mention_fascist,mention_communist,mention_nationalist,mention_2A
count,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,...,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000,1914.000000
mean,2147.275862,3.888192,0.253918,0.396552,0.349530,0.256008,0.027691,0.057994,0.071578,0.044410,...,0.003135,0.005747,0.022989,0.003657,0.002612,0.000522,0.001045,0.000522,0.002612,0.000522
std,794.150614,2.878083,0.435365,0.489309,0.476946,0.436541,0.164128,0.233793,0.257855,0.206057,...,0.055916,0.075611,0.149906,0.060380,0.051057,0.022858,0.032317,0.022858,0.051057,0.022858
min,60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1632.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2154.500000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2816.750000,7.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3384.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
corpus_data.head()

,content_id,content_body_clean,content_title_clean,label,economy,topic2,science,mention_Trump,mention_Clinton,mention_Democrat,...,mention_terrorist,mention_attack,mention_NRA,mention_sanctuary,mention_socialist,mention_fascist,mention_communist,mention_nationalist,mention_2A,content_source_desc
0,60,republican in congress be at a make or break m...,Tax reform now -- failure to act could mean mi...,9,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Fox News
1,61,the constitution authorize congress to tax ame...,Tax reform -- America needs a tax code that's ...,9,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Fox News
2,66,a longmothballed unfinished casinohotel on the...,Long-mothballed Las Vegas Strip casino-hotel s...,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fox News
3,80,if taxing foreign earnings that have already a...,"Trump Tax Plan May Free Up Corporate Dollars, ...",3,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,The New York Times
4,82,hurricane harvey have already take an enormous...,Hurricane Harvey is a humanitarian disaster. I...,5,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Vox

In [5]:
print("Count of articles by news source:")
corpus_data['content_source_desc'].value_counts()

Count of articles by news source:

Associated Press News    451
The New York Times       377
Fox News                 328
Vox                      303
Breitbart                268
100 Percent Fed Up       123
Media Matters             64
Name: content_source_desc, dtype: int64

In [6]:
print("Count of articles by label:")
corpus_data['label'].value_counts()

Count of articles by label:

0    318
2    220
3    219
5    217
7    210
1    183
4    174
8    137
9    133
6    103
Name: label, dtype: int64

## Topic Modeling

### Nouns only

In [8]:
from gensim import matutils, models
import scipy.sparse

In [11]:
dtm_data = pd.read_pickle('Data/muf_articles_atm.pkl')
dtm_data.head()

,aa,aaa,aaaah,aaas,aaron,aaronkleinshow,aaronson,aarp,aauw,ab,...,خلال,سمو,عددا,عسير,للمحافظة,متفقدا,مقرن,من,منصور,نائب
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
tdm = dtm_data.transpose()
tdm.head()

,0,1,2,3,4,5,6,7,8,9,...,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913
aa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aaa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aaaah,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aaas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aaron,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
def nouns(text):
    #get nouns only
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [8]:
corpus_data = pd.read_pickle('Data/muf_articles_corpus.pkl')
corpus_data.head()

,content_id,content_body_clean,content_title_clean,label,economy,topic2,science,mention_Trump,mention_Clinton,mention_Democrat,...,mention_terrorist,mention_attack,mention_NRA,mention_sanctuary,mention_socialist,mention_fascist,mention_communist,mention_nationalist,mention_2A,content_source_desc
0,60,republican in congress be at a make or break m...,Tax reform now -- failure to act could mean mi...,9,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Fox News
1,61,the constitution authorize congress to tax ame...,Tax reform -- America needs a tax code that's ...,9,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Fox News
2,66,a longmothballed unfinished casinohotel on the...,Long-mothballed Las Vegas Strip casino-hotel s...,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fox News
3,80,if taxing foreign earnings that have already a...,"Trump Tax Plan May Free Up Corporate Dollars, ...",3,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,The New York Times
4,82,hurricane harvey have already take an enormous...,Hurricane Harvey is a humanitarian disaster. I...,5,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Vox

In [14]:
data_nouns = pd.DataFrame(corpus_data["content_body_clean"].apply(nouns))
data_nouns

                                     content_body_clean
0     republican congress make moment everyone polit...
1     constitution congress tax defense welfare wash...
2     casinohotel la strip sell tuesday year constru...
3     earnings incentive company continue profit tax...
4     hurricane harvey human toll gulf coast kill pe...
...                                                 ...
1909  oct file photo president nicolas speaks press ...
1910  man watch stock price board brokerage house st...
1911  draining aquifer portion state stream cause fi...
1912  atks wallop island va sunday rocket cargo spac...
1913  dentist engineering degree curiosity sense adv...

[1914 rows x 1 columns]

In [25]:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
from gensim import matutils, models
import scipy.sparse

In [21]:
new_stopwords = stopwords.words('english') + ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
new_stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'like',
 'im',
 'know',
 'just',
 'dont',
 'thats',
 'right',
 'people',
 'youre',
 'got',
 'gonna',
 'time',
 'think',
 'yeah',
 'said']

In [22]:
cvn = CountVectorizer(stop_words=new_stopwords)
data_cvn = cvn.fit_transform(data_nouns["content_body_clean"])
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

,aa,aaa,aaron,aaronkleinshow,aaronson,aarp,aback,abadi,abadsantos,abandon,...,خلال,سمو,عددا,عسير,للمحافظة,متفقدا,مقرن,من,منصور,نائب
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1910,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1911,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
#Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

#Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [27]:
#4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.018*"tax" + 0.011*"percent" + 0.011*"year" + 0.006*"company" + 0.006*"state" + 0.006*"rate" + 0.006*"trump" + 0.005*"report" + 0.005*"job" + 0.005*"president"'),
 (1,
  '0.009*"woman" + 0.008*"health" + 0.007*"year" + 0.006*"state" + 0.005*"law" + 0.005*"care" + 0.005*"trump" + 0.004*"plan" + 0.004*"company" + 0.004*"way"'),
 (2,
  '0.028*"trump" + 0.017*"president" + 0.008*"campaign" + 0.007*"house" + 0.007*"news" + 0.007*"state" + 0.006*"clinton" + 0.005*"election" + 0.005*"year" + 0.004*"party"'),
 (3,
  '0.010*"company" + 0.007*"drug" + 0.007*"state" + 0.007*"year" + 0.004*"health" + 0.004*"use" + 0.004*"report" + 0.004*"study" + 0.004*"treatment" + 0.004*"work"')]

In [28]:
#7 topics
ldan2 = models.LdaModel(corpus=corpusn, num_topics=7, id2word=id2wordn, passes=90)
ldan2.print_topics()

[(0,
  '0.016*"company" + 0.013*"percent" + 0.013*"year" + 0.007*"price" + 0.007*"apple" + 0.006*"technology" + 0.006*"job" + 0.006*"market" + 0.005*"car" + 0.005*"month"'),
 (1,
  '0.011*"trump" + 0.009*"state" + 0.008*"president" + 0.007*"year" + 0.007*"woman" + 0.005*"party" + 0.005*"study" + 0.004*"way" + 0.004*"group" + 0.004*"thing"'),
 (2,
  '0.013*"hurricane" + 0.010*"gun" + 0.009*"water" + 0.009*"island" + 0.008*"storm" + 0.008*"rico" + 0.007*"year" + 0.007*"climate" + 0.007*"state" + 0.006*"puerto"'),
 (3,
  '0.020*"trump" + 0.013*"president" + 0.009*"campaign" + 0.008*"report" + 0.008*"court" + 0.007*"house" + 0.007*"law" + 0.007*"administration" + 0.007*"state" + 0.007*"government"'),
 (4,
  '0.010*"news" + 0.009*"company" + 0.009*"woman" + 0.008*"twitter" + 0.008*"facebook" + 0.007*"medium" + 0.007*"ad" + 0.006*"report" + 0.006*"post" + 0.006*"harassment"'),
 (5,
  '0.029*"trump" + 0.017*"president" + 0.013*"drug" + 0.009*"state" + 0.008*"country" + 0.007*"trade" + 0.007*"year" + 0.006*"china" + 0.006*"deal" + 0.005*"leader"'),
 (6,
  '0.040*"tax" + 0.014*"health" + 0.014*"plan" + 0.012*"trump" + 0.011*"house" + 0.011*"state" + 0.011*"bill" + 0.010*"percent" + 0.010*"rate" + 0.009*"year"')]

In [ ]:
#10 topics
ldan3 = models.LdaModel(corpus=corpusn, num_topics=10, id2word=id2wordn, passes=80)
ldan3.print_topics()