# Twitter Trust Correlation

In [0]:
import pandas as pd
import numpy as np
import pickle as pk

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
!wget http://muftayebaly.com/dropbox/tweetsCID.csv

--2020-04-14 18:18:05--  http://muftayebaly.com/dropbox/tweetsCID.csv
Resolving muftayebaly.com (muftayebaly.com)... 107.180.20.85
Connecting to muftayebaly.com (muftayebaly.com)|107.180.20.85|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 54234968 (52M) [text/csv]
Saving to: ‘tweetsCID.csv’

tweetsCID.csv       100%[===================>]  51.72M  22.9MB/s    in 2.3s

2020-04-14 18:18:07 (22.9 MB/s) - ‘tweetsCID.csv’ saved [54234968/54234968]

In [26]:
!wget http://muftayebaly.com/dropbox/all-user-stats.csv

--2020-04-14 18:30:20--  http://muftayebaly.com/dropbox/all-user-stats.csv
Resolving muftayebaly.com (muftayebaly.com)... 107.180.20.85
Connecting to muftayebaly.com (muftayebaly.com)|107.180.20.85|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61002615 (58M) [text/csv]
Saving to: ‘all-user-stats.csv’

all-user-stats.csv  100%[===================>]  58.18M  58.4KB/s    in 15m 35s

2020-04-14 18:45:55 (63.7 KB/s) - ‘all-user-stats.csv’ saved [61002615/61002615]

In [3]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_articles.csv

--2020-04-14 18:18:12--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_articles.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9186850 (8.8M) [text/plain]
Saving to: ‘knight_data_articles.csv’

knight_data_article 100%[===================>]   8.76M  --.-KB/s    in 0.08s

2020-04-14 18:18:12 (112 MB/s) - ‘knight_data_articles.csv’ saved [9186850/9186850]

In [4]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_urls.csv

--2020-04-14 18:18:16--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_urls.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9199526 (8.8M) [text/plain]
Saving to: ‘knight_data_urls.csv’

knight_data_urls.cs 100%[===================>]   8.77M  --.-KB/s    in 0.08s

2020-04-14 18:18:17 (116 MB/s) - ‘knight_data_urls.csv’ saved [9199526/9199526]

In [5]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_ratings.csv

--2020-04-14 18:18:21--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_ratings.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2344804 (2.2M) [text/plain]
Saving to: ‘knight_data_ratings.csv’

knight_data_ratings 100%[===================>]   2.24M  --.-KB/s    in 0.09s

2020-04-14 18:18:21 (23.7 MB/s) - ‘knight_data_ratings.csv’ saved [2344804/2344804]

In [6]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/processed/article_topics_6.csv

--2020-04-14 18:18:24--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/processed/article_topics_6.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6035965 (5.8M) [text/plain]
Saving to: ‘article_topics_6.csv’

article_topics_6.cs 100%[===================>]   5.76M  --.-KB/s    in 0.06s

2020-04-14 18:18:25 (90.9 MB/s) - ‘article_topics_6.csv’ saved [6035965/6035965]

In [56]:
raw_topics = pd.read_csv("article_topics_6.csv")
topics = raw_topics.set_index(['content_id'])
topics.head()

            Unnamed: 0  ...                                         topic_dist
content_id              ...
60                   0  ...  [(0, 0.54865676), (1, 0.035524607), (2, 0.0146...
61                   1  ...  [(0, 0.83220094), (3, 0.098824225), (4, 0.0664...
66                   2  ...  [(1, 0.09982404), (2, 0.6770535), (3, 0.147273...
80                   3  ...                                   [(0, 0.9946441)]
82                   4  ...                  [(2, 0.23729898), (6, 0.7597849)]

[5 rows x 9 columns]

In [0]:
raw_data = pd.read_csv("knight_data_articles.csv")
#raw_data.head()

In [55]:
articles = raw_data.set_index(['content_id'])
articles

                                           content_body_clean  ...    content_source_desc
content_id                                                     ...
60          Republicans in Congress are at a make or break...  ...               Fox News
61          The Constitution authorizes Congress to tax Am...  ...               Fox News
66          A long-mothballed, unfinished casino-hotel on ...  ...               Fox News
80          If taxing foreign earnings that have already a...  ...     The New York Times
82          Hurricane Harvey has already taken an enormous...  ...                    Vox
...                                                       ...  ...                    ...
3380         In this Oct. 17, 2017 file photo, Venezuela's...  ...  Associated Press News
3381        A man watches stock prices boards at a brokera...  ...  Associated Press News
3382         The draining of a massive aquifer that underl...  ...  Associated Press News
3383        Orbital ATK's Antares rocket lifts off from Wa...  ...  Associated Press News
3384         He’s a dentist with an engineering degree, an...  ...  Associated Press News

[1914 rows x 31 columns]

In [0]:
raw_urls = pd.read_csv("knight_data_urls.csv")
#raw_urls.head()

In [51]:
raw_tweets = pd.read_csv("tweetsCID.csv")
raw_tweets

                  tweet_id  ... content_id
0       851485433003421701  ...       2736
1       851514117374398464  ...       2736
2       855009400670617600  ...       2644
3       855009683542728704  ...       2644
4       855011873183342592  ...       2644
...                    ...  ...        ...
201868  930566176907853824  ...       3351
201869  930571261775876097  ...       3351
201870  930573435343908864  ...       3351
201871  930582220800233473  ...       3351
201872  930585398471901184  ...       3351

[201873 rows x 8 columns]

In [12]:
raw_tweets.describe()

           tweet_id       user_id   no_favs  no_retweets
count  2.018730e+05  2.018730e+05  201873.0     201873.0
mean   9.207283e+17  1.332248e+17       0.0          0.0
std    7.496690e+15  3.013590e+17       0.0          0.0
min    8.514854e+17  5.700000e+01       0.0          0.0
25%    9.174132e+17  5.645870e+07       0.0          0.0
50%    9.218926e+17  4.205027e+08       0.0          0.0
75%    9.260537e+17  2.853383e+09       0.0          0.0
max    9.305854e+17  9.301665e+17       0.0          0.0

In [53]:
raw_ratings = pd.read_csv("knight_data_ratings.csv")
raw_ratings.head()

      external_user_id  content_id  rating_scale_response  sampdate  blind
0        047641_S02_01          60                    4.0  20170901      0
1  4205985366_78419_01          60                    5.0  20170901      1
2  4205985366_78419_01          61                    4.5  20170901      1
3  4205985366_78419_01          66                    3.5  20170901      1
4  4205985366_78419_01          80                    4.0  20170901      1

In [52]:
raw_users = pd.read_csv("all-user-stats.csv")
raw_users['content_id']=raw_tweets['content_id']
raw_users

                  tweet_id  ... content_id
0       851485433003421701  ...       2736
1       851514117374398464  ...       2736
2       855009400670617600  ...       2644
3       855009683542728704  ...       2644
4       855011873183342592  ...       2644
...                    ...  ...        ...
201868  930566176907853824  ...       3351
201869  930571261775876097  ...       3351
201870  930573435343908864  ...       3351
201871  930582220800233473  ...       3351
201872  930585398471901184  ...       3351

[201873 rows x 12 columns]

In [0]:
users = raw_users.set_index(['content_id'])

In [0]:
import os
import shutil

## Correlation of \# of Tweets and Trust

In [57]:
blind_ratings = raw_ratings[raw_ratings['blind']==1].groupby(['content_id']).mean()
blind_ratings['content_id1'] = blind_ratings.index
blind_ratings

            rating_scale_response  sampdate  blind  content_id1
content_id
60                          5.000  20170901      1           60
61                          4.500  20170901      1           61
66                          3.500  20170901      1           66
80                          3.750  20170901      1           80
82                          3.500  20170901      1           82
...                           ...       ...    ...          ...
3375                        2.500  20170901      1         3375
3378                        4.625  20170901      1         3378
3380                        3.500  20170901      1         3380
3382                        4.500  20170901      1         3382
3383                        4.750  20170901      1         3383

[1627 rows x 4 columns]

In [58]:
num_tweets = raw_tweets.groupby(['content_id']).count()
num_tweets['content_id1'] = num_tweets.index
num_tweets

            tweet_id  tweet_text  user_id  ...  no_retweets  urls  content_id1
content_id                                 ...
101               33          33       33  ...           33    33          101
1019              14          14       14  ...           14    14         1019
102               20          20       20  ...           20    20          102
103               18          18       18  ...           18    18          103
1060               2           2        2  ...            2     2         1060
...              ...         ...      ...  ...          ...   ...          ...
984               14          14       14  ...           14    14          984
985              273         273      273  ...          273   273          985
990                8           8        8  ...            8     8          990
999               24          24       24  ...           24    24          999
blank           1584        1584     1584  ...         1584  1526        blank

[1474 rows x 8 columns]

In [72]:
avg_users = users.groupby(['content_id']).mean()
avg_users

                tweet_id       user_id  ...  user_statuses  user_listed
content_id                              ...
101         9.022349e+17  5.155158e+16  ...  117437.090909   554.000000
1019        9.051735e+17  2.458286e+17  ...  111649.142857   886.285714
102         9.009004e+17  2.087483e+17  ...  156883.850000   736.600000
103         8.987590e+17  1.873380e+17  ...   98562.166667  1207.111111
1060        9.096514e+17  4.819011e+09  ...    6953.000000    25.000000
...                  ...           ...  ...            ...          ...
984         9.091715e+17  1.619142e+17  ...  104234.500000   270.071429
985         9.092689e+17  9.176621e+16  ...   36624.619048  1064.611722
990         8.700455e+17  1.022339e+17  ...   20290.375000  1810.750000
999         8.697427e+17  6.502592e+16  ...   24539.166667  1060.666667
blank       9.220773e+17  1.857360e+17  ...   44725.118056   140.755051

[1474 rows x 8 columns]

In [74]:
corr_df = pd.DataFrame(columns=['content_id','num_tweets','trust_mean','source','topic','avg_friends','avg_followers','avg_statuses'])

for index, row in num_tweets.iterrows():
  try:
    corr_df = corr_df.append({'content_id':index, 'num_tweets':row['tweet_id'], 'trust_mean':blind_ratings['rating_scale_response'][int(index)], 
                              'source':articles['content_source_desc'][int(index)], 'topic':topics['topic'][int(index)], 
                              'avg_friends':avg_users['user_friends'][index], 'avg_followers':avg_users['user_followers'][index], 
                              'avg_statuses':avg_users['user_statuses'][index]}, ignore_index=True)
  except Exception:
    pass

corr_df

     content_id num_tweets  ...  avg_followers   avg_statuses
0           101         33  ...   18253.696970  117437.090909
1          1019         14  ...   36151.071429  111649.142857
2           102         20  ...   29445.750000  156883.850000
3           103         18  ...   42129.055556   98562.166667
4          1060          2  ...     203.500000    6953.000000
...         ...        ...  ...            ...            ...
1250        969         13  ...   26620.538462   48683.153846
1251        984         14  ...   19435.500000  104234.500000
1252        985        273  ...  158635.344322   36624.619048
1253        990          8  ...   76802.750000   20290.375000
1254        999         24  ...   27680.583333   24539.166667

[1255 rows x 8 columns]

In [0]:
from scipy.stats.stats import pearsonr

In [0]:
corr_df1 = corr_df.astype({'num_tweets': 'int32'})

In [76]:
pearsonr(corr_df1['num_tweets'],corr_df1['trust_mean'])[0]

0.050122302409525775

In [77]:
np.corrcoef(corr_df1['num_tweets'].values.tolist(),corr_df1['trust_mean'].values.tolist())[0, 1]

0.05012230240952584

In [78]:
corr_df1

     content_id  num_tweets  ...  avg_followers   avg_statuses
0           101          33  ...   18253.696970  117437.090909
1          1019          14  ...   36151.071429  111649.142857
2           102          20  ...   29445.750000  156883.850000
3           103          18  ...   42129.055556   98562.166667
4          1060           2  ...     203.500000    6953.000000
...         ...         ...  ...            ...            ...
1250        969          13  ...   26620.538462   48683.153846
1251        984          14  ...   19435.500000  104234.500000
1252        985         273  ...  158635.344322   36624.619048
1253        990           8  ...   76802.750000   20290.375000
1254        999          24  ...   27680.583333   24539.166667

[1255 rows x 8 columns]

In [79]:
corr_df1.groupby(['source']).mean()

                       num_tweets  trust_mean  ...  avg_followers  avg_statuses
source                                         ...
100 Percent Fed Up      38.588235    2.222855  ...    6941.932481  59601.539553
Associated Press News    4.295238    3.559105  ...   48811.068800  36780.374397
Breitbart              130.113402    2.510586  ...   10873.734905  74900.139012
Fox News                99.490196    3.264439  ...  117718.596450  58662.712239
Media Matters           24.098039    2.572640  ...   29686.102788  98459.964708
The New York Times     294.234177    3.555893  ...  220921.438761  52926.282140
Vox                    102.771552    3.373520  ...   36208.125197  63829.565299

[7 rows x 5 columns]

In [80]:
corr_df1.groupby(['topic']).mean()

               num_tweets  trust_mean  avg_friends  avg_followers  avg_statuses
topic
Economy         87.508197    3.173621  2870.975037  161848.038625  65390.420461
Policy         183.082902    3.177887  4757.428486   88643.809879  60211.261361
Politics       123.334184    2.992726  4593.614341  100249.320937  63862.486464
Public Health  149.663830    3.543269  3773.961419  103533.417088  50560.743269
Scandal        166.871698    2.980684  4254.489063   85677.062380  62254.816997
Technology      42.541284    3.255277  4856.503906   40118.742417  63876.628291

In [25]:
print('100 Percent Fed Up:', pearsonr(corr_df[corr_df['source']=='100 Percent Fed Up'].num_tweets,
                                     corr_df[corr_df['source']=='100 Percent Fed Up'].trust_mean
                                     )[0])
print('Associated Press News:', pearsonr(corr_df[corr_df['source']=='Associated Press News'].num_tweets,
                                     corr_df[corr_df['source']=='Associated Press News'].trust_mean
                                     )[0])
print('Breitbart:', pearsonr(corr_df[corr_df['source']=='Breitbart'].num_tweets,
                                     corr_df[corr_df['source']=='Breitbart'].trust_mean
                                     )[0])
print('Fox News:', pearsonr(corr_df[corr_df['source']=='Fox News'].num_tweets,
                                     corr_df[corr_df['source']=='Fox News'].trust_mean
                                     )[0])
print('Media Matters:', pearsonr(corr_df[corr_df['source']=='Media Matters'].num_tweets,
                                     corr_df[corr_df['source']=='Media Matters'].trust_mean
                                     )[0])
print('The New York Times:', pearsonr(corr_df[corr_df['source']=='The New York Times'].num_tweets,
                                     corr_df[corr_df['source']=='The New York Times'].trust_mean
                                     )[0])
print('Vox:', pearsonr(corr_df[corr_df['source']=='Vox'].num_tweets,
                                     corr_df[corr_df['source']=='Vox'].trust_mean
                                     )[0])

100 Percent Fed Up: -0.029205437098217952
Associated Press News: -0.13419177533207938
Breitbart: -0.052556843882955256
Fox News: -0.27429417636187603
Media Matters: -0.05603416234001038
The New York Times: 0.08016191474413324
Vox: 0.03539024107968908

# Correlation of User Info and article trust![alt text](https://)

In [81]:
print("User Friends & Trust",pearsonr(corr_df1['avg_friends'],corr_df1['trust_mean'])[0])
print("User Followers & Trust",pearsonr(corr_df1['avg_followers'],corr_df1['trust_mean'])[0])

User Friends & Trust -0.10160187070124307
User Followers & Trust 0.1506684903193611

# Correlation Matrix

In [0]:
corrdf = pd.get_dummies(corr_df1, columns=['source','topic'])

In [85]:
corrdf.shape

(1255, 19)

In [84]:
corrdf.corr()

                              num_tweets  ...  topic_Technology
num_tweets                      1.000000  ...         -0.094666
trust_mean                      0.050122  ...          0.032919
avg_friends                    -0.115024  ...          0.032002
avg_followers                  -0.002388  ...         -0.085790
avg_statuses                   -0.157941  ...          0.022655
source_100 Percent Fed Up      -0.095083  ...         -0.091729
source_Associated Press News   -0.129956  ...         -0.021659
source_Breitbart               -0.010702  ...          0.040312
source_Fox News                -0.062423  ...          0.125536
source_Media Matters           -0.075395  ...         -0.063474
source_The New York Times       0.291990  ...         -0.133278
source_Vox                     -0.053837  ...          0.093663
topic_Economy                  -0.036659  ...         -0.069708
topic_Policy                    0.062027  ...         -0.131473
topic_Politics                 -0.031577  ...         -0.207854
topic_Public Health             0.018197  ...         -0.148032
topic_Scandal                   0.048276  ...         -0.159561
topic_Technology               -0.094666  ...          1.000000

[18 rows x 18 columns]