# Twitter Data processing

In [0]:
import pandas as pd
import numpy as np
import pickle as pk

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!wget http://muftayebaly.com/dropbox/all.csv

--2020-04-06 14:11:57--  http://muftayebaly.com/dropbox/all.csv
Resolving muftayebaly.com (muftayebaly.com)... 107.180.20.85
Connecting to muftayebaly.com (muftayebaly.com)|107.180.20.85|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55905549 (53M) [text/csv]
Saving to: ‘all.csv’

all.csv             100%[===================>]  53.32M  13.2MB/s    in 6.5s

2020-04-06 14:12:04 (8.22 MB/s) - ‘all.csv’ saved [55905549/55905549]

In [4]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_articles.csv

--2020-04-06 14:12:14--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_articles.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9186850 (8.8M) [text/plain]
Saving to: ‘knight_data_articles.csv’

knight_data_article 100%[===================>]   8.76M  --.-KB/s    in 0.08s

2020-04-06 14:12:16 (111 MB/s) - ‘knight_data_articles.csv’ saved [9186850/9186850]

In [5]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_urls.csv

--2020-04-06 14:12:21--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_urls.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9199526 (8.8M) [text/plain]
Saving to: ‘knight_data_urls.csv’

knight_data_urls.cs 100%[===================>]   8.77M  --.-KB/s    in 0.04s

2020-04-06 14:12:25 (201 MB/s) - ‘knight_data_urls.csv’ saved [9199526/9199526]

In [6]:
raw_data = pd.read_csv("knight_data_articles.csv")
raw_data.head()

   content_id  ... content_source_desc
0          60  ...            Fox News
1          61  ...            Fox News
2          66  ...            Fox News
3          80  ...  The New York Times
4          82  ...                 Vox

[5 rows x 32 columns]

In [7]:
raw_urls = pd.read_csv("knight_data_urls.csv")
raw_urls.head()

                                 content_title_clean  ... content_id
0  Tax reform now -- failure to act could mean mi...  ...         60
1  Tax reform -- America needs a tax code that's ...  ...         61
2  Long-mothballed Las Vegas Strip casino-hotel s...  ...         66
3  Trump Tax Plan May Free Up Corporate Dollars, ...  ...         80
4  Hurricane Harvey is a humanitarian disaster. I...  ...         82

[5 rows x 4 columns]

In [15]:
raw_tweets = pd.read_csv("all.csv")
raw_tweets

                  tweet_id  ...                                               urls
0       851485433003421701  ...  https://www.vox.com/energy-and-environment/201...
1       851514117374398464  ...  https://www.vox.com/energy-and-environment/201...
2       855009400670617600  ...  https://www.vox.com/policy-and-politics/2017/4...
3       855009683542728704  ...  https://www.vox.com/policy-and-politics/2017/4...
4       855011873183342592  ...  https://www.vox.com/policy-and-politics/2017/4...
...                    ...  ...                                                ...
201868  930566176907853824  ...  https://www.nytimes.com/2017/11/13/business/se...
201869  930571261775876097  ...  https://tytnetwork.com/Investigates/; https://...
201870  930573435343908864  ...  https://www.nytimes.com/2017/11/13/business/se...
201871  930582220800233473  ...  https://www.nytimes.com/2017/11/13/business/se...
201872  930585398471901184  ...  https://www.nytimes.com/2017/11/13/business/se...

[201873 rows x 7 columns]

In [0]:
import os
import shutil

In [0]:
#os.makedirs('drive/My Drive/capstone')

In [0]:
#shutil.copy('knight_data_articles.csv','drive/My Drive/capstone')

'drive/My Drive/capstone/knight_data_articles.csv'

## Add content id to tweet data

In [0]:
cid=[]

for index, row in raw_tweets.iterrows():
    appended=False
    for i, r in raw_urls.iterrows():
        if row['urls'] == r['content_src_url']:
            cid.append(r['content_id'])
            appended=True
            break
    if appended is False:
        cid.append('blank')

savedf = pd.DataFrame(data={"cid": cid})
savedf.to_csv("drive/My Drive/capstone/tweetCidList.csv", sep=',',index=False)

In [0]:
ciddf = pd.read_csv("drive/My Drive/capstone/tweetCidList.csv")

In [0]:
ciddf.shape

(201873, 1)

In [0]:
ciddf[ciddf['cid']=='blank']

          cid
30      blank
69      blank
85      blank
162     blank
297     blank
...       ...
201686  blank
201715  blank
201850  blank
201861  blank
201869  blank

[35327 rows x 1 columns]

In [16]:
raw_tweets['urls'].iloc[201686].split(';')

['https://www.nytimes.com/2017/11/13/business/self-driving-trucks.html',
 ' http://tweetedtimes.com/bethlah']

In [0]:
for index, row in ciddf[ciddf['cid']=='blank'].iterrows():
  try:
    links = raw_tweets['urls'].iloc[index].split(';')
    for link in links:
      appended=False
      for i, r in raw_urls.iterrows():
        if link == r['content_src_url']:
            ciddf['cid'][index] = r['content_id']
            appended=True
            break
      if appended:
        break
  except Exception:
    pass

In [0]:
ciddf.to_csv("drive/My Drive/capstone/tweetCidList2.csv", sep=',',index=False)

In [0]:
ciddf[ciddf['cid']=='blank']

          cid
30      blank
69      blank
297     blank
343     blank
494     blank
...       ...
201639  blank
201648  blank
201651  blank
201850  blank
201869  blank

[31678 rows x 1 columns]

In [0]:
raw_tweets['urls'].iloc[30].split(';')

['https://www.vox.com/',
 ' https://www.vox.com/science-and-health/2017/5/8/15454832/fentanyl-carfentanil-opioid-epidemic']

In [0]:
for index, row in ciddf[ciddf['cid']=='blank'].iterrows():
  try:
    links = raw_tweets['urls'].iloc[index].split(';')
    for link in links:
      appended=False
      for i, r in raw_urls.iterrows():
        if link.lstrip().rstrip() == r['content_src_url']:
            ciddf['cid'][index] = r['content_id']
            appended=True
            break
      if appended:
        break
  except Exception:
    pass

In [0]:
ciddf.to_csv("drive/My Drive/capstone/tweetCidList3.csv", sep=',',index=False)

In [0]:
ciddf[ciddf['cid']=='blank']

          cid
494     blank
828     blank
2902    blank
3131    blank
3138    blank
...       ...
201567  blank
201568  blank
201639  blank
201648  blank
201651  blank

[30293 rows x 1 columns]

In [0]:
raw_tweets['urls'].iloc[201567].split(';')

['https://www.apnews.com/0fc9159418e14366980bf2651133f4f9/His-Asia-trip-winding-down,-Trump-meets-with-allies']

In [0]:
import re

In [0]:
teststr='http://ansdjadkj 12312 sjdf skfsd/23/sfdssd'
re.sub('[0-9]','',teststr)
teststr.replace('http://','').replace('ans','CHANGED')

'CHANGEDdjadkj 12312 sjdf skfsd/23/sfdssd'

In [0]:
for index, row in ciddf[ciddf['cid']=='blank'].iterrows():
  try:
    links = raw_tweets['urls'].iloc[index].split(';')
    for link in links:
      appended=False
      link = re.sub('[0-9]','',link)
      for i, r in raw_urls.iterrows():
        if link.lstrip().rstrip().replace('http://','').replace('https://','') == r['content_src_url'].replace('http://','').replace('https://',''):
            ciddf['cid'][index] = r['content_id']
            appended=True
            break
      if appended:
        break
  except Exception:
    pass

In [0]:
ciddf.to_csv("drive/My Drive/capstone/tweetCidList4.csv", sep=',',index=False)

In [0]:
ciddf = pd.read_csv('drive/My Drive/capstone/tweetCidList4.csv')

In [12]:
ciddf[ciddf['cid']=='blank']

          cid
494     blank
828     blank
2902    blank
3131    blank
3138    blank
...       ...
201567  blank
201568  blank
201639  blank
201648  blank
201651  blank

[30293 rows x 1 columns]

In [21]:
for index, row in ciddf[ciddf['cid']=='blank'].iterrows():
  try:
    links = raw_tweets['urls'].iloc[index].split(';')
    for link in links:
      appended=False
      link = re.sub('[0-9]','',link)
      for i, r in raw_urls.iterrows():
        compare = re.sub('[0-9]','',r['content_src_url'])
        if link.lstrip().rstrip().replace('http://','').replace('https://','') == compare.lstrip().rstrip().replace('http://','').replace('https://',''):
            ciddf['cid'][index] = r['content_id']
            appended=True
            break
      if appended:
        break
  except Exception:
    print(Exception)

<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>
<class 'Exception'>

In [0]:
ciddf.to_csv("drive/My Drive/capstone/tweetCidList5.csv", sep=',',index=False)

In [25]:
ciddf[ciddf['cid']=='blank']

          cid
494     blank
828     blank
2902    blank
3131    blank
3138    blank
...       ...
201567  blank
201568  blank
201639  blank
201648  blank
201651  blank

[30293 rows x 1 columns]

In [28]:
raw_tweets['urls'].iloc[201568].split(';')

['https://www.apnews.com/0fc9159418e14366980bf2651133f4f9/His-Asia-trip-winding-down,-Trump-meets-with-allies']

In [0]:
for index, row in ciddf[ciddf['cid']=='blank'].iterrows():
  try:
    links = raw_tweets['urls'].iloc[index].split(';')
    for link in links:
      appended=False
      link = re.sub('[0-9]','',link)
      link = link.lstrip().rstrip().replace('http://','').replace('https://','').replace('www.','').replace('www.','').replace(',','').replace('-','')
      #print(link)
      for i, r in raw_urls.iterrows():
        compare = re.sub('[0-9]','',r['content_src_url'])
        compare = compare.lstrip().rstrip().replace('http://','').replace('https://','').replace('www.','').replace('www.','').replace(',','').replace('-','')
        #print(compare)
        if link == compare:
            ciddf['cid'][index] = r['content_id']
            appended=True
            break
      if appended:
        break
  except Exception:
    #print(Exception)
    pass

In [0]:
ciddf.to_csv("drive/My Drive/capstone/tweetCidList6.csv", sep=',',index=False)

In [38]:
ciddf[ciddf['cid']=='blank']

          cid
494     blank
828     blank
2902    blank
3131    blank
3138    blank
...       ...
201567  blank
201568  blank
201639  blank
201648  blank
201651  blank

[30293 rows x 1 columns]