# Twitter Trust Correlation

In [0]:
import pandas as pd
import numpy as np
import pickle as pk

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!wget http://muftayebaly.com/dropbox/tweetsCID.csv

--2020-04-15 19:01:22--  http://muftayebaly.com/dropbox/tweetsCID.csv
Resolving muftayebaly.com (muftayebaly.com)... 107.180.20.85
Connecting to muftayebaly.com (muftayebaly.com)|107.180.20.85|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 54234968 (52M) [text/csv]
Saving to: ‘tweetsCID.csv’

tweetsCID.csv       100%[===================>]  51.72M  14.3MB/s    in 4.2s

2020-04-15 19:01:27 (12.5 MB/s) - ‘tweetsCID.csv’ saved [54234968/54234968]

In [4]:
!wget http://muftayebaly.com/dropbox/all-user-stats.csv

--2020-04-15 19:02:14--  http://muftayebaly.com/dropbox/all-user-stats.csv
Resolving muftayebaly.com (muftayebaly.com)... 107.180.20.85
Connecting to muftayebaly.com (muftayebaly.com)|107.180.20.85|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61002615 (58M) [text/csv]
Saving to: ‘all-user-stats.csv’

all-user-stats.csv  100%[===================>]  58.18M  17.2MB/s    in 4.6s

2020-04-15 19:02:19 (12.7 MB/s) - ‘all-user-stats.csv’ saved [61002615/61002615]

In [5]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_articles.csv

--2020-04-15 19:02:28--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_articles.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9186850 (8.8M) [text/plain]
Saving to: ‘knight_data_articles.csv’

knight_data_article 100%[===================>]   8.76M  --.-KB/s    in 0.05s

2020-04-15 19:02:29 (164 MB/s) - ‘knight_data_articles.csv’ saved [9186850/9186850]

In [6]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_urls.csv

--2020-04-15 19:02:34--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_urls.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9199526 (8.8M) [text/plain]
Saving to: ‘knight_data_urls.csv’

knight_data_urls.cs 100%[===================>]   8.77M  --.-KB/s    in 0.1s

2020-04-15 19:02:36 (59.4 MB/s) - ‘knight_data_urls.csv’ saved [9199526/9199526]

In [7]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_ratings.csv

--2020-04-15 19:02:40--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/raw/knight_data_ratings.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2344804 (2.2M) [text/plain]
Saving to: ‘knight_data_ratings.csv’

knight_data_ratings 100%[===================>]   2.24M  --.-KB/s    in 0.07s

2020-04-15 19:02:40 (30.3 MB/s) - ‘knight_data_ratings.csv’ saved [2344804/2344804]

In [8]:
!wget https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/processed/article_topics_6.csv

--2020-04-15 19:02:43--  https://raw.githubusercontent.com/harish-cu/tweet-url-relationships/master/data/processed/article_topics_6.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6035965 (5.8M) [text/plain]
Saving to: ‘article_topics_6.csv’

article_topics_6.cs 100%[===================>]   5.76M  --.-KB/s    in 0.1s

2020-04-15 19:02:44 (46.4 MB/s) - ‘article_topics_6.csv’ saved [6035965/6035965]

In [9]:
raw_topics = pd.read_csv("article_topics_6.csv")
topics = raw_topics.set_index(['content_id'])
topics.head()

            Unnamed: 0  ...                                         topic_dist
content_id              ...
60                   0  ...  [(0, 0.54865676), (1, 0.035524607), (2, 0.0146...
61                   1  ...  [(0, 0.83220094), (3, 0.098824225), (4, 0.0664...
66                   2  ...  [(1, 0.09982404), (2, 0.6770535), (3, 0.147273...
80                   3  ...                                   [(0, 0.9946441)]
82                   4  ...                  [(2, 0.23729898), (6, 0.7597849)]

[5 rows x 9 columns]

In [0]:
raw_data = pd.read_csv("knight_data_articles.csv")
#raw_data.head()

In [23]:
articles = raw_data.set_index(['content_id'])
articles

                                           content_body_clean  ...    content_source_desc
content_id                                                     ...
60          Republicans in Congress are at a make or break...  ...               Fox News
61          The Constitution authorizes Congress to tax Am...  ...               Fox News
66          A long-mothballed, unfinished casino-hotel on ...  ...               Fox News
80          If taxing foreign earnings that have already a...  ...     The New York Times
82          Hurricane Harvey has already taken an enormous...  ...                    Vox
...                                                       ...  ...                    ...
3380         In this Oct. 17, 2017 file photo, Venezuela's...  ...  Associated Press News
3381        A man watches stock prices boards at a brokera...  ...  Associated Press News
3382         The draining of a massive aquifer that underl...  ...  Associated Press News
3383        Orbital ATK's Antares rocket lifts off from Wa...  ...  Associated Press News
3384         He’s a dentist with an engineering degree, an...  ...  Associated Press News

[1914 rows x 31 columns]

In [0]:
raw_urls = pd.read_csv("knight_data_urls.csv")
#raw_urls.head()

In [13]:
raw_tweets = pd.read_csv("tweetsCID.csv")
raw_tweets

                  tweet_id  ... content_id
0       851485433003421701  ...       2736
1       851514117374398464  ...       2736
2       855009400670617600  ...       2644
3       855009683542728704  ...       2644
4       855011873183342592  ...       2644
...                    ...  ...        ...
201868  930566176907853824  ...       3351
201869  930571261775876097  ...       3351
201870  930573435343908864  ...       3351
201871  930582220800233473  ...       3351
201872  930585398471901184  ...       3351

[201873 rows x 8 columns]

In [14]:
raw_tweets.describe()

           tweet_id       user_id   no_favs  no_retweets
count  2.018730e+05  2.018730e+05  201873.0     201873.0
mean   9.207283e+17  1.332248e+17       0.0          0.0
std    7.496690e+15  3.013590e+17       0.0          0.0
min    8.514854e+17  5.700000e+01       0.0          0.0
25%    9.174132e+17  5.645870e+07       0.0          0.0
50%    9.218926e+17  4.205027e+08       0.0          0.0
75%    9.260537e+17  2.853383e+09       0.0          0.0
max    9.305854e+17  9.301665e+17       0.0          0.0

In [15]:
raw_ratings = pd.read_csv("knight_data_ratings.csv")
raw_ratings.head()

      external_user_id  content_id  rating_scale_response  sampdate  blind
0        047641_S02_01          60                    4.0  20170901      0
1  4205985366_78419_01          60                    5.0  20170901      1
2  4205985366_78419_01          61                    4.5  20170901      1
3  4205985366_78419_01          66                    3.5  20170901      1
4  4205985366_78419_01          80                    4.0  20170901      1

In [16]:
raw_users = pd.read_csv("all-user-stats.csv")
raw_users['content_id']=raw_tweets['content_id']
raw_users

                  tweet_id  ... content_id
0       851485433003421701  ...       2736
1       851514117374398464  ...       2736
2       855009400670617600  ...       2644
3       855009683542728704  ...       2644
4       855011873183342592  ...       2644
...                    ...  ...        ...
201868  930566176907853824  ...       3351
201869  930571261775876097  ...       3351
201870  930573435343908864  ...       3351
201871  930582220800233473  ...       3351
201872  930585398471901184  ...       3351

[201873 rows x 12 columns]

In [0]:
users = raw_users.set_index(['content_id'])

In [0]:
import os
import shutil

## Correlation of \# of Tweets and Trust

In [19]:
blind_ratings = raw_ratings[raw_ratings['blind']==1].groupby(['content_id']).mean()
blind_ratings['content_id1'] = blind_ratings.index
blind_ratings

            rating_scale_response  sampdate  blind  content_id1
content_id
60                          5.000  20170901      1           60
61                          4.500  20170901      1           61
66                          3.500  20170901      1           66
80                          3.750  20170901      1           80
82                          3.500  20170901      1           82
...                           ...       ...    ...          ...
3375                        2.500  20170901      1         3375
3378                        4.625  20170901      1         3378
3380                        3.500  20170901      1         3380
3382                        4.500  20170901      1         3382
3383                        4.750  20170901      1         3383

[1627 rows x 4 columns]

In [20]:
num_tweets = raw_tweets.groupby(['content_id']).count()
num_tweets['content_id1'] = num_tweets.index
num_tweets

            tweet_id  tweet_text  user_id  ...  no_retweets  urls  content_id1
content_id                                 ...
101               33          33       33  ...           33    33          101
1019              14          14       14  ...           14    14         1019
102               20          20       20  ...           20    20          102
103               18          18       18  ...           18    18          103
1060               2           2        2  ...            2     2         1060
...              ...         ...      ...  ...          ...   ...          ...
984               14          14       14  ...           14    14          984
985              273         273      273  ...          273   273          985
990                8           8        8  ...            8     8          990
999               24          24       24  ...           24    24          999
blank           1584        1584     1584  ...         1584  1526        blank

[1474 rows x 8 columns]

In [21]:
avg_users = users.groupby(['content_id']).mean()
avg_users

                tweet_id       user_id  ...  user_statuses  user_listed
content_id                              ...
101         9.022349e+17  5.155158e+16  ...  117437.090909   554.000000
1019        9.051735e+17  2.458286e+17  ...  111649.142857   886.285714
102         9.009004e+17  2.087483e+17  ...  156883.850000   736.600000
103         8.987590e+17  1.873380e+17  ...   98562.166667  1207.111111
1060        9.096514e+17  4.819011e+09  ...    6953.000000    25.000000
...                  ...           ...  ...            ...          ...
984         9.091715e+17  1.619142e+17  ...  104234.500000   270.071429
985         9.092689e+17  9.176621e+16  ...   36624.619048  1064.611722
990         8.700455e+17  1.022339e+17  ...   20290.375000  1810.750000
999         8.697427e+17  6.502592e+16  ...   24539.166667  1060.666667
blank       9.220773e+17  1.857360e+17  ...   44725.118056   140.755051

[1474 rows x 8 columns]

In [26]:
corr_df = pd.DataFrame(columns=['content_id','article_body','article_title','num_tweets','trust_mean','source','topic','avg_friends','avg_followers','avg_statuses'])

for index, row in num_tweets.iterrows():
  try:
    corr_df = corr_df.append({'content_id':index, 'article_body':articles['content_body_clean'][int(index)], 'article_title':articles['content_title_clean'][int(index)], 
                              'num_tweets':row['tweet_id'], 'trust_mean':blind_ratings['rating_scale_response'][int(index)], 
                              'source':articles['content_source_desc'][int(index)], 'topic':topics['topic'][int(index)], 
                              'avg_friends':avg_users['user_friends'][index], 'avg_followers':avg_users['user_followers'][index], 
                              'avg_statuses':avg_users['user_statuses'][index]}, ignore_index=True)
  except Exception:
    pass

corr_df

     content_id  ...   avg_statuses
0           101  ...  117437.090909
1          1019  ...  111649.142857
2           102  ...  156883.850000
3           103  ...   98562.166667
4          1060  ...    6953.000000
...         ...  ...            ...
1250        969  ...   48683.153846
1251        984  ...  104234.500000
1252        985  ...   36624.619048
1253        990  ...   20290.375000
1254        999  ...   24539.166667

[1255 rows x 10 columns]

In [0]:
from scipy.stats.stats import pearsonr

In [0]:
corr_df1 = corr_df.astype({'num_tweets': 'int32'})

In [29]:
pearsonr(corr_df1['num_tweets'],corr_df1['trust_mean'])[0]

0.050122302409525775

In [30]:
np.corrcoef(corr_df1['num_tweets'].values.tolist(),corr_df1['trust_mean'].values.tolist())[0, 1]

0.05012230240952584

In [31]:
corr_df1

     content_id  ...   avg_statuses
0           101  ...  117437.090909
1          1019  ...  111649.142857
2           102  ...  156883.850000
3           103  ...   98562.166667
4          1060  ...    6953.000000
...         ...  ...            ...
1250        969  ...   48683.153846
1251        984  ...  104234.500000
1252        985  ...   36624.619048
1253        990  ...   20290.375000
1254        999  ...   24539.166667

[1255 rows x 10 columns]

In [32]:
corr_df1.groupby(['source']).mean()

                       num_tweets  trust_mean  ...  avg_followers  avg_statuses
source                                         ...
100 Percent Fed Up      38.588235    2.222855  ...    6941.932481  59601.539553
Associated Press News    4.295238    3.559105  ...   48811.068800  36780.374397
Breitbart              130.113402    2.510586  ...   10873.734905  74900.139012
Fox News                99.490196    3.264439  ...  117718.596450  58662.712239
Media Matters           24.098039    2.572640  ...   29686.102788  98459.964708
The New York Times     294.234177    3.555893  ...  220921.438761  52926.282140
Vox                    102.771552    3.373520  ...   36208.125197  63829.565299

[7 rows x 5 columns]

In [33]:
corr_df1.groupby(['topic']).mean()

               num_tweets  trust_mean  avg_friends  avg_followers  avg_statuses
topic
Economy         87.508197    3.173621  2870.975037  161848.038625  65390.420461
Policy         183.082902    3.177887  4757.428486   88643.809879  60211.261361
Politics       123.334184    2.992726  4593.614341  100249.320937  63862.486464
Public Health  149.663830    3.543269  3773.961419  103533.417088  50560.743269
Scandal        166.871698    2.980684  4254.489063   85677.062380  62254.816997
Technology      42.541284    3.255277  4856.503906   40118.742417  63876.628291

In [34]:
print('100 Percent Fed Up:', pearsonr(corr_df[corr_df['source']=='100 Percent Fed Up'].num_tweets,
                                     corr_df[corr_df['source']=='100 Percent Fed Up'].trust_mean
                                     )[0])
print('Associated Press News:', pearsonr(corr_df[corr_df['source']=='Associated Press News'].num_tweets,
                                     corr_df[corr_df['source']=='Associated Press News'].trust_mean
                                     )[0])
print('Breitbart:', pearsonr(corr_df[corr_df['source']=='Breitbart'].num_tweets,
                                     corr_df[corr_df['source']=='Breitbart'].trust_mean
                                     )[0])
print('Fox News:', pearsonr(corr_df[corr_df['source']=='Fox News'].num_tweets,
                                     corr_df[corr_df['source']=='Fox News'].trust_mean
                                     )[0])
print('Media Matters:', pearsonr(corr_df[corr_df['source']=='Media Matters'].num_tweets,
                                     corr_df[corr_df['source']=='Media Matters'].trust_mean
                                     )[0])
print('The New York Times:', pearsonr(corr_df[corr_df['source']=='The New York Times'].num_tweets,
                                     corr_df[corr_df['source']=='The New York Times'].trust_mean
                                     )[0])
print('Vox:', pearsonr(corr_df[corr_df['source']=='Vox'].num_tweets,
                                     corr_df[corr_df['source']=='Vox'].trust_mean
                                     )[0])

100 Percent Fed Up: -0.029205437098217952
Associated Press News: -0.13419177533207938
Breitbart: -0.052556843882955256
Fox News: -0.27429417636187603
Media Matters: -0.05603416234001038
The New York Times: 0.08016191474413324
Vox: 0.03539024107968908

# Correlation of User Info and article trust![alt text](https://)

In [35]:
print("User Friends & Trust",pearsonr(corr_df1['avg_friends'],corr_df1['trust_mean'])[0])
print("User Followers & Trust",pearsonr(corr_df1['avg_followers'],corr_df1['trust_mean'])[0])

User Friends & Trust -0.10160187070124307
User Followers & Trust 0.1506684903193611

# Correlation Matrix

In [0]:
corrdf = pd.get_dummies(corr_df1, columns=['source','topic'])

In [37]:
corrdf.shape

(1255, 21)

In [38]:
corrdf.corr()

                              num_tweets  ...  topic_Technology
num_tweets                      1.000000  ...         -0.094666
trust_mean                      0.050122  ...          0.032919
avg_friends                    -0.115024  ...          0.032002
avg_followers                  -0.002388  ...         -0.085790
avg_statuses                   -0.157941  ...          0.022655
source_100 Percent Fed Up      -0.095083  ...         -0.091729
source_Associated Press News   -0.129956  ...         -0.021659
source_Breitbart               -0.010702  ...          0.040312
source_Fox News                -0.062423  ...          0.125536
source_Media Matters           -0.075395  ...         -0.063474
source_The New York Times       0.291990  ...         -0.133278
source_Vox                     -0.053837  ...          0.093663
topic_Economy                  -0.036659  ...         -0.069708
topic_Policy                    0.062027  ...         -0.131473
topic_Politics                 -0.031577  ...         -0.207854
topic_Public Health             0.018197  ...         -0.148032
topic_Scandal                   0.048276  ...         -0.159561
topic_Technology               -0.094666  ...          1.000000

[18 rows x 18 columns]

# Modeling num of tweet prediction

In [39]:
!pip install tensorflow==2.1.0

Collecting tensorflow==2.1.0
  Downloading https://files.pythonhosted.org/packages/85/d4/c0cd1057b331bc38b65478302114194bd8e1b9c2bbc06e300935c0e93d90/tensorflow-2.1.0-cp36-cp36m-manylinux2010_x86_64.whl (421.8MB)
     |████████████████████████████████| 421.8MB 24kB/s
Collecting gast==0.2.2
  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz
Collecting tensorflow-estimator<2.2.0,>=2.1.0rc0
  Downloading https://files.pythonhosted.org/packages/18/90/b77c328a1304437ab1310b463e533fa7689f4bfc41549593056d812fab8e/tensorflow_estimator-2.1.0-py2.py3-none-any.whl (448kB)
     |████████████████████████████████| 450kB 51.8MB/s
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (3.2.0)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (0.34.2)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.18.2)
Collecting tensorboard<2.2.0,>=2.1.0
  Downloading https://files.pythonhosted.org/packages/d9/41/bbf49b61370e4f4d245d4c6051dfb6db80cec672605c91b1652ac8cc3d38/tensorboard-2.1.1-py3-none-any.whl (3.8MB)
     |████████████████████████████████| 3.9MB 61.3MB/s
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.12.1)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (3.10.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.1.0)
Requirement already satisfied: scipy==1.4.1; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.4.1)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (0.8.1)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.0.8)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.12.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (0.9.0)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.1.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.28.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (46.1.3)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (1.0.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (1.7.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (0.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (2.21.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (3.2.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow==2.1.0) (2.10.0)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (3.1.1)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (1.3.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (2020.4.5.1)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<4.1,>=3.1.4->google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (3.1.0)
Building wheels for collected packages: gast
  Building wheel for gast (setup.py) ... done
  Created wheel for gast: filename=gast-0.2.2-cp36-none-any.whl size=7540 sha256=d5ba1610244c855973302a3b4bc86cb709ec5fc1f6e05617012f8a5a6a906ddf
  Stored in directory: /root/.cache/pip/wheels/5c/2e/7e/a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd
Successfully built gast
Installing collected packages: gast, tensorflow-estimator, tensorboard, tensorflow
  Found existing installation: gast 0.3.3
    Uninstalling gast-0.3.3:
      Successfully uninstalled gast-0.3.3
  Found existing installation: tensorflow-estimator 2.2.0rc0
    Uninstalling tensorflow-estimator-2.2.0rc0:
      Successfully uninstalled tensorflow-estimator-2.2.0rc0
  Found existing installation: tensorboard 2.2.0
    Uninstalling tensorboard-2.2.0:
      Successfully uninstalled tensorboard-2.2.0
  Found existing installation: tensorflow 2.2.0rc2
    Uninstalling tensorflow-2.2.0rc2:
      Successfully uninstalled tensorflow-2.2.0rc2
Successfully installed gast-0.2.2 tensorboard-2.1.1 tensorflow-2.1.0 tensorflow-estimator-2.1.0

In [2]:
import tensorflow as tf
import pandas as pd
import tensorflow_hub as hub
import os
import re
import numpy as np
import pickle as pk
import string
import nltk
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk import word_tokenize, pos_tag
from nltk.stem import WordNetLemmatizer
from tqdm import tqdm_notebook
from collections import defaultdict
from tensorflow.keras import backend as K
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import LinearRegression, LogisticRegression, RidgeCV, LassoCV, Ridge, Lasso, SGDRegressor
from sklearn.svm import LinearSVR
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingRegressor, GradientBoostingRegressor
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [41]:
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
def clean_data(text):
    #remove punctuation, digits, extra stuff. make lowercase
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub('[‘’“”…]', '', text)
    #lemma it - include POS tag in order to lemma it better
    tag_map = defaultdict(lambda : wordnet.NOUN)
    tag_map['J'] = wordnet.ADJ
    tag_map['V'] = wordnet.VERB
    tag_map['R'] = wordnet.ADV
    lemmatizer = WordNetLemmatizer()
    textTokens = word_tokenize(text)
    #remove stopwords
    word_tokens_nostop = [w for w in textTokens if not w in stopwords.words('english')] 
    #now lemma
    text = [lemmatizer.lemmatize(tok, tag_map[tag[0]]) for tok, tag in pos_tag(word_tokens_nostop)]
    return " ".join(text)

In [48]:
corrdf.head()

  content_id  ... topic_Technology
0        101  ...                0
1       1019  ...                0
2        102  ...                0
3        103  ...                0
4       1060  ...                0

[5 rows x 21 columns]

In [0]:
clean_body = corrdf["article_body"].apply(clean_data)
y = corrdf['num_tweets']
sideinfo = corrdf.drop(columns=['content_id','article_body','article_title','num_tweets','avg_friends','avg_followers','avg_statuses'])

In [0]:
X_train, X_test, y_train, y_test, side_train, side_test = train_test_split(clean_body, y, sideinfo, test_size=0.2, shuffle=True, random_state=3)

In [5]:
tfidf_vec = TfidfVectorizer(ngram_range=(1,3), min_df=10)

X_train_vec = tfidf_vec.fit_transform(X_train)
X_test_vec = tfidf_vec.transform(X_test)

NameError: ignored

In [72]:
X_train_vec.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [0]:
X_train_full = np.hstack((X_train_vec.toarray(), side_train.to_numpy()))
X_test_full = np.hstack([X_test_vec, side_test])